.content body{font-family:Helvetica,arial,sans-serif;font-size:14px;line-height:1.6;padding-top:10px;padding-bottom:10px;background-color:white;padding:30px;}
.content body>*:first-child{margin-top:0 !important;}
.content body>*:last-child{margin-bottom:0 !important;}
.content a{color:#4183C4;}
.content a.absent{color:#cc0000;}
.content a.anchor{display:block;padding-left:30px;margin-left:-30px;cursor:pointer;position:absolute;top:0;left:0;bottom:0;}
.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{margin:20px 0 10px;padding:0;font-weight:bold;-webkit-font-smoothing:antialiased;cursor:text;position:relative;}
.content h1:hover a.anchor,.content h2:hover a.anchor,.content h3:hover a.anchor,.content h4:hover a.anchor,.content h5:hover a.anchor,.content h6:hover a.anchor{background:url("../../images/modules/styleguide/para.png") no-repeat 10px center;text-decoration:none;}
.content h1 tt,.content h1 code{font-size:inherit;}
.content h2 tt,.content h2 code{font-size:inherit;}
.content h3 tt,.content h3 code{font-size:inherit;}
.content h4 tt,.content h4 code{font-size:inherit;}
.content h5 tt,.content h5 code{font-size:inherit;}
.content h6 tt,.content h6 code{font-size:inherit;}
.content h1{font-size:36px;color:black;color:#8450a0;}
.content h2{font-size:28px;color:black;color:#31a02c;}
.content h3{font-size:22px;}
.content h4{font-size:16px;}
.content h5{font-size:14px;}
.content h6{color:#777777;font-size:14px;}
.content p,.content blockquote,.content ul,.content ol,.content dl,.content li,.content table,.content pre{margin:15px 0;}
.content i,.content em{font-size:14px;opacity:.8;}
.content hr{background:transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;border:0 none;color:#cccccc;height:4px;padding:0;}
.content body>h2:first-child{margin-top:0;padding-top:0;}
.content body>h1:first-child{margin-top:0;padding-top:0;}
.content body>h1:first-child+h2{margin-top:0;padding-top:0;}
.content body>h3:first-child,.content body>h4:first-child,.content body>h5:first-child,.content body>h6:first-child{margin-top:0;padding-top:0;}
.content a:first-child h1,.content a:first-child h2,.content a:first-child h3,.content a:first-child h4,.content a:first-child h5,.content a:first-child h6{margin-top:0;padding-top:0;}
.content h1 p,.content h2 p,.content h3 p,.content h4 p,.content h5 p,.content h6 p{margin-top:0;}
.content li p.first{display:inline-block;}
.content ul,.content ol{padding-left:30px;margin-bottom:15px;}
.content ul :first-child,.content ol :first-child{margin-top:0;}
.content ul :last-child,.content ol :last-child{margin-bottom:0;}
.content dl{padding:0;}
.content dl dt{font-size:14px;font-weight:bold;font-style:italic;padding:0;margin:15px 0 5px;}
.content dl dt:first-child{padding:0;}
.content dl dt>:first-child{margin-top:0;}
.content dl dt>:last-child{margin-bottom:0;}
.content dl dd{margin:0 0 15px;padding:0 15px;}
.content dl dd>:first-child{margin-top:0;}
.content dl dd>:last-child{margin-bottom:0;}
.content blockquote{border-left:4px solid #dddddd;padding:0 15px;color:#777777;}
.content blockquote>:first-child{margin-top:0;}
.content blockquote>:last-child{margin-bottom:0;}
.content table{padding:0;}
.content table tr{border-top:1px solid #cccccc;background-color:white;margin:0;padding:0;}
.content table tr:nth-child(2n){background-color:#f8f8f8;}
.content table tr th{font-weight:bold;border:1px solid #cccccc;text-align:left;margin:0;padding:6px 13px;}
.content table tr td{border:1px solid #cccccc;text-align:left;margin:0;padding:6px 13px;}
.content table tr th :first-child,.content table tr td :first-child{margin-top:0;}
.content table tr th :last-child,.content table tr td :last-child{margin-bottom:0;}
.content img{max-width:100%;}
.content span.frame{display:block;overflow:hidden;}
.content span.frame>span{border:1px solid #dddddd;display:block;float:left;overflow:hidden;margin:13px 0 0;padding:7px;width:auto;}
.content span.frame span img{display:block;float:left;}
.content span.frame span span{clear:both;color:#333333;display:block;padding:5px 0 0;}
.content span.align-center{display:block;overflow:hidden;clear:both;}
.content span.align-center>span{display:block;overflow:hidden;margin:13px auto 0;text-align:center;}
.content span.align-center span img{margin:0 auto;text-align:center;}
.content span.align-right{display:block;overflow:hidden;clear:both;}
.content span.align-right>span{display:block;overflow:hidden;margin:13px 0 0;text-align:right;}
.content span.align-right span img{margin:0;text-align:right;}
.content span.float-left{display:block;margin-right:13px;overflow:hidden;float:left;}
.content span.float-left span{margin:13px 0 0;}
.content span.float-right{display:block;margin-left:13px;overflow:hidden;float:right;}
.content span.float-right>span{display:block;overflow:hidden;margin:13px auto 0;text-align:right;}
.content code,.content tt{margin:0 2px;padding:0 5px;white-space:nowrap;border:1px solid #eaeaea;background-color:#f8f8f8;border-radius:3px;}
.content pre code{margin:0;padding:0;white-space:pre;border:none;background:transparent;}
.content .highlight pre{background-color:#f8f8f8;border:1px solid #cccccc;font-size:13px;line-height:19px;overflow:auto;padding:6px 10px;border-radius:3px;}
.content pre{background-color:#f8f8f8;border:1px solid #cccccc;font-size:13px;line-height:19px;overflow:auto;padding:6px 10px;border-radius:3px;}
.content pre code,.content pre tt{background-color:transparent;border:none;}
