{% extends "layout.html" %}
{% block content %}
    <h2>Welcome to File Cabinet</h2>
    <h3>Document, Store, Share</h3>
    <div class="ui">
        <div><img src="{{ url_for('static', filename='img/filecabinet.svg') }}" alt=""></div>
        <div><img src="{{ url_for('static', filename='img/filecabinet.svg') }}" alt=""></div>
        <div><img src="{{ url_for('static', filename='img/filecabinet.svg') }}" alt=""></div>
        <div><img src="{{ url_for('static', filename='img/filecabinet.svg') }}" alt=""></div>
    </div>
{% endblock %}
